---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Startup Landing Page',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Team Odyssey"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Sponsor Us',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:heart-handshake',
      },
      { text: 'Learn more', href: '#about' },
    ]}
    image={{ src: '~/assets/images/rover.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Meet our rover <span class="text-secondary dark:text-white">Anveshak</span>
    </Fragment>

    <Fragment slot="subtitle">
      Hey there, we're the official rover team at Amrita University Bangalore. we're competing in the ERC challenge.
    </Fragment>

    <Fragment slot="image"> </Fragment>
  </Hero>

  <Brands
    title="Our Sponsors"
    subtitle="We collaborate with industry partners to both fund our efforts in building the rover as well as creating a unique channel of communication between academia and the industry."
    icons={[]}
    images={[
      {
        src: '~/assets/images/lighthouse.png',
        alt: 'LightHouse',
      },
      {
        src: '~/assets/images/polymaker.png',
        alt: 'PolyMaker',
      },
      {
        src: '~/assets/images/exel.png',
        alt: 'Exel Composites',
      },
      {
        src: '~/assets/images/kykbearings.png',
        alt: 'Exel Composites',
      },
      {
        src: '~/assets/images/rf-elements.png',
        alt: 'RF Elements',
      },
      {
        src: '~/assets/images/arrow.png',
        alt: 'Arrow Electronics',
      },
      {
        src: '~/assets/images/craftbot.png',
        alt: 'Craftbot',
      },
      {
        src: '~/assets/images/abhis0innochem.png',
        alt: 'Abhis Innochem',
      },
      {
        src: '~/assets/images/abhyudaya.png',
        alt: 'Abhyudaya',
      },
    ]}
  />

  <Features3
    title="Reach out to us"
    subtitle="We’re here to answer any question you might have."
    columns={4}
    items={[
      {},
      {
        title: 'Email Us',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: '',
          href: 'mailto:rover_avvb@blr.amrita.edu',
          variant: 'link',
        },
      },
      {
        title: 'Connect With Us',
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: '',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Sponsor us',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:heart-handshake',
      },
    ]}
  >
    <Fragment slot="">Be a part of our vision</Fragment>

    <Fragment slot="subtitle">
      Discover a dynamic work environment, unparalleled growth opportunities, and the chance to make a meaningful
      impact.
    </Fragment>
  </CallToAction>
</Layout>
