---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Startup Landing Page',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Team Odyssey"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Sponsor Us',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:heart-handshake',
      },
      { text: 'Learn more', href: '#about' },
    ]}
    image={{ src: '~/assets/images/rover.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Meet our rover <span class="text-secondary dark:text-white">Anveshak</span>
    </Fragment>

    <Fragment slot="subtitle">
      Hey there, we're the official rover team at Amrita University Bangalore. we're competing in the ERC challenge.
    </Fragment>

    <Fragment slot="image"> </Fragment>
  </Hero>

  <Brands
    title="Our Sponsors"
    subtitle="We collaborate with industry partners to both fund our efforts in building the rover as well as creating a unique channel of communication between academia and the industry."
    icons={[]}
    images={[
      {
        src: '~/assets/images/lighthouse.png',
        alt: 'LightHouse',
      },
      {
        src: '~/assets/images/polymaker.png',
        alt: 'PolyMaker',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />

  <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Sponsor us',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:heart-handshake',
      },
    ]}
  >
    <Fragment slot="title">Be a part of our vision</Fragment>

    <Fragment slot="subtitle">
      Discover a dynamic work environment, unparalleled growth opportunities, and the chance to make a meaningful
      impact.
    </Fragment>
  </CallToAction>
</Layout>
